@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,500;8..144,700;8..144,900&family=Roboto:wght@300;400;500;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;